CREATE PROCEDURE SETNuevoProducto
@NOMBRE AS VARCHAR(50),
@PRECIO AS VARCHAR(50),
@DETALLE AS VARCHAR(50),
@USUARIO_CREACION AS VARCHAR(50)
AS
BEGIN

INSERT INTO Producto (NOMBRE,
					  DETALLE,
					  PRECIO,
					  FECHA_CREACION,
					  USUARIO_CREACION,
					  FECHA_MODIFICACION,
					  USUARIO_MODIFICACION)
			VALUES (@NOMBRE,
					@DETALLE,
					@PRECIO,
					(SELECT CONVERT (char(10), getdate(), 103)),
					@USUARIO_CREACION,
					(SELECT CONVERT (char(10), getdate(), 103)),
					@USUARIO_CREACION)

COMMIT

END